@model  LARWebSite.ViewModels.IndexViewModel

<!-- featured-products -->
<section id="featured-products">
    <div class="page-header text-center wsub">
        <h2>Nuevos Productos</h2>
    </div><!--/ page-header -->
    <div id="products-carousel" class="owl-carousel">

        @foreach (var _newProduct in Model.NuevosProductos)
        {
            <!-- item -->
            <div class="item product">
                <!-- / sale-label -->
                <a href="@Url.Action("detail", "products", new { id = _newProduct.IdProducto, code = _newProduct.Codigo, name = _newProduct.NombreProducto})"  class="product-link"></a>
                <!-- / product-link -->

                <img src="~/Assets/images/product_link/@_newProduct.ImagenDetalle" alt="">
                <!-- / product-image -->
                <!-- product-hover-tools -->
                <div class="product-hover-tools">
                    <a href="single-product.html" class="view-btn">
                        <i class="lnr lnr-eye"></i>
                    </a>
                </div><!-- / product-hover-tools -->
                <!-- product-details -->
                <div class="product-details">
                    <h3 class="product-title">@_newProduct.NombreProducto</h3>
                    <h6 class="product-price">
                        @if (_newProduct.Descuento != 0)
                        {
                            <span>$</span><del> @_newProduct.Precio</del>
                            <span class="sale-price">$ @_newProduct.PrecioDescuento</span>
                        }
                        else
                        {
                            <span class="sale-price">$ @_newProduct.Precio</span>
                        }
                    </h6>
                </div><!-- / product-details -->
            </div>
            <!-- / item -->
        }

        </div> <!-- / products-carousel -->
</section>
<!-- / featured-products -->