@model  LARWebSite.ViewModels.IndexViewModel
@using LARWebSite.Utilerias

<!------------------------->
<!-- featured-products -->
<section id="featured-products">
    <div class="page-header text-center wsub">
        <h2>Lo más nuevo</h2>
    </div><!--/ page-header -->
    <div id="products-carousel" class="owl-carousel">
        @foreach (var _product in Model.NuevosProductos)
        {
            <!-- item -->
            <div class="item product">
                <div class="card mt-6" style="border-radius:2px;cursor:pointer;border:1px solid rgba(0,0,0,0.1);">
                    <a href="@Url.Action("detail", "products", new { id = _product.IdProducto, code = _product.Codigo, name = _product.NombreProducto.ToSeoUrl() })">
                        <img class="card-img-top img-fluid" src="http://static.laredcazaypesca.com.mx/images/p_b/@_product.ImagenDetalle" alt="">
                    </a>
                    <hr />
                    <div class="card-body" style="padding:10px;">
                        <a href="@Url.Action("detail", "products", new { id = _product.IdProducto, code = _product.Codigo, name = _product.NombreProducto.ToSeoUrl() })">
                            <h5 class="card-title ellipsis" title="@_product.NombreProducto">
                                @_product.NombreProducto
                            </h5>
                        </a>
                        <h4>
                            @if (_product.Descuento != 0)
                            {
                                <span>$</span><del> @_product.Precio</del>
                                <span class="sale-price">$ @_product.PrecioDescuento</span>
                            }
                            else
                            {
                                <span class="sale-price">$ @_product.Precio</span>
                            }
                        </h4>
                    </div>
                </div>
            </div>
            <!-- / item -->
        }
    </div> <!-- / products-carousel -->
</section>
<!-- / featured-products -->
<!------------------------->
