@using PagedList
@using PagedList.Mvc
@using LARWebSite.Utilerias
@model LARWebSite.ViewModels.GalleryViewModel

@{

    //Save the category name that is into the viewbag.
    string _categoryName = ViewBag.CategoryName;

    //Variable decimal to check whether if the category is active.
    int activeCategory = ViewBag.IsActive;

    ViewBag.Title = "Galería de artículos";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@if (!Model.CategoryList.Any())
{
    <div class="alert alert-success">
        No se encontraron registros de categoría.
    </div>
}
else
{
    <section id="shop">
        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="list-group">
                        @foreach (var _categoryGroup in Model.CategoryList)
                        {
                            if (_categoryGroup.IdCategoria == activeCategory)
                            {
                                <a href="@Url.Action("gallery","home", new { page = 1, id = _categoryGroup.IdCategoria, category = _categoryGroup.NombreCategoria.ToSeoUrl() })" class="list-group-item active">@_categoryGroup.NombreCategoria</a>
                            }
                            else
                            {
                                <a href="@Url.Action("gallery","home", new { page = 1, id = _categoryGroup.IdCategoria, category = _categoryGroup.NombreCategoria.ToSeoUrl() })" class="list-group-item">@_categoryGroup.NombreCategoria</a>
                            }
                        }
                    </div>
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-9">
                        @if (Model.ArticleList.Count == 0)
                        {
                            <div class="alert alert-success">
                                
                                No se encontraron productos para <i>@_categoryName</i>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                @foreach (var _product in Model.ArticleList)
                                {
                                <div class="col-md-4">
                                    <div class="card mt-6" style="border-radius:2px;cursor:pointer;border:1px solid rgba(0,0,0,0.1);">
                                        <a href="@Url.Action("detail", "products", new { id = _product.IdProducto, code = _product.Codigo, name = _product.NombreProducto.ToSeoUrl() })">
                                            <img class="card-img-top img-fluid" src="http://static.laredcazaypesca.com.mx/images/p_b/@_product.ImagenDetalle" alt="">
                                        </a>
                                        <hr />
                                        <div class="card-body" style="padding:10px;">
                                            <a href="@Url.Action("detail", "products", new { id = _product.IdProducto, code = _product.Codigo, name = _product.NombreProducto.ToSeoUrl() })">
                                                <h5 class="card-title ellipsis" title="@_product.NombreProducto">
                                                    @_product.NombreProducto
                                                </h5>
                                            </a>
                                            <h4>
                                                @if (_product.Descuento != 0)
                                                {
                                                    <span>$</span><del> @_product.Precio</del>
                                                    <span class="sale-price">$ @_product.PrecioDescuento</span>
                                                }
                                                else
                                                {
                                                    <span class="sale-price">$ @_product.Precio</span>
                                                }
                                            </h4>
                                        </div>
                                    </div><br />
                                </div>
                                }
                            </div>
                        }
                    <div class="row">
                        <div class="col-md-12" style="text-align:center;">
                            @Html.PagedListPager(Model.ArticleList, page => Url.Action("gallery", new { page, id = ViewBag.CategoryId, category = _categoryName.ToSeoUrl() }))
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-lg-9 -->
            </div>
        </div>
        <!-- /.container -->
    </section>
}