@model LARWebSite.ViewModels.ProductDetailViewModel

@{
    int iActiveItem = 0;

    //Calcualate the price if the disccount value is set.
    //Sale price
    decimal _salePrice = Model.Producto.Descuento != 0 ? (Model.Producto.PrecioVenta - Model.Producto.Descuento) : Model.Producto.PrecioVenta;
    //Wholesale price.
    decimal _wholesalePrice = Model.Producto.Descuento != 0 ? (Model.Producto.PrecioMayoreo - Model.Producto.Descuento) : Model.Producto.PrecioMayoreo;

}



<section id="shop">
    <div class="container">
        <div class="row">
            <!-- product content area -->
            <div class="col-sm-4 col-md-4 content-area" style="margin-top:4px;">
                <div class="product-content-area">
                    <div id="product-slider" class="carousel slide" data-ride="carousel">
                        <div class="slider slider-for" style="border:1px solid rgba(0,0,0,0.089);">
                            @foreach (var _imgProduct in Model.Producto.Imagenes)
                            {


                                <div>
                                    <img class="zoom_visualizer" src="~/Assets/images/product_b/@_imgProduct.Image_b" alt="@_imgProduct.Image_b">
                                </div>
                            }
                        </div>
                        <div class="slider slider-nav" style="border:1px solid rgba(0,0,0,0.089);">
                            @foreach (var _thumbnail in Model.Producto.Imagenes)
                            {

                                <div style="cursor:pointer;">
                                    <img src="~/Assets/images/product_b/@_thumbnail.Image_b" alt="@_thumbnail.Image_b">
                                </div>

                            }
                        </div>

                    </div><!-- / product-slider -->
                </div><!-- / product-content-area -->
                <!-- product pagination -->
            </div>
            <!-- / project-content-area -->
            <!-- project sidebar area -->
            <div class="col-sm-8 col-md-8 product-sidebar">
                <div class="product-details">
                    <h3>@Model.Producto.Marca - @Model.Producto.NombreProducto</h3>
                    <p>@Model.Producto.Descripcion</p>
                    <hr />

                    <div class="product-info">

                        @if (Model.Producto.Descuento != 0)
                        {
                            <div class="info">
                                <p><span>Descuento: $  @Model.Producto.Descuento</span></p>
                            </div>
                        }
                        <div class="info">
                            <p>
                                <span>
                                    Precio:
                                    @if (Model.Producto.Descuento != 0)
                                    {
                                        <span style="text-decoration:line-through;">@Model.Producto.PrecioVenta &nbsp;&nbsp;</span>
                                        @_salePrice
                                    }
                                    else
                                    {
                                        <span>@Model.Producto.PrecioVenta</span>
                                    }
                                </span>
                            </p>
                        </div>
                        <div class="info">
                            <p>
                                <span>
                                    Mayoreo:
                                    @if (Model.Producto.Descuento != 0)
                                    {
                                        <span style="text-decoration:line-through;">@Model.Producto.PrecioMayoreo &nbsp;&nbsp;</span>
                                        @_wholesalePrice
                                    }
                                    else
                                    {
                                        <span>@Model.Producto.PrecioMayoreo</span>
                                    }
                                </span>
                            </p>
                        </div>

                        <!-- Category -->
                        <div class="info">
                            <p><span>Categoría: <a href="@Url.Action("getproductsbycategory", "products", new { id = Model.Producto.IdCategoria, category = Model.Producto.Categoria })"> @Model.Producto.Categoria</a></span></p>
                        </div>

                        <!-- SubCategory -->
                        <div class="info">
                            <p><span>Tipo: <a href="#link"> @Model.Producto.SubCategoria</a></span></p>
                        </div>

                        <!-- Brand -->
                        <div class="info">
                            <p><span>Marca: <a href="@Url.Action("brand","products", new { id = Model.Producto.IdMarca, brand = Model.Producto.Marca})"> @Model.Producto.Marca</a></span></p>
                        </div>

                        <div class="info">
                            <p><span>Código artículo: <a href="#code">@Model.Producto.CodigoProducto</a>  </span></p>
                        </div>
                    </div><!-- / project-info -->
                </div><!-- product-details -->

            </div><!-- / col-sm-4 col-md-3 -->

           
            <div class="container">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#description" role="tab" data-toggle="tab" aria-expanded="true">Descripción</a></li>
                    </ul>
                    <!-- / nav-tabs -->
                    <div class="tab-content">
                        <!-- / description-tab -->
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="description">
                            @if (string.IsNullOrEmpty(@Model.Producto.ExtDescripcion))
                            {
                                <i>No existe una descripción para este producto</i>
                            }
                            else
                            {
                                <p>@Model.Producto.ExtDescripcion</p>
                            }
                        </div>
                        <!-- / description-tab -->
                    </div>
                    <!-- / tab-content -->
                </div>
            </div>

            <!-- / project sidebar area -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / shop single-product -->

