@model LARWebSite.ViewModels.ProductDetailViewModel

@{ 
    int iActiveItem = 0;

    //Calcualate the price if the disccount value is set.
    //Sale price
    decimal _salePrice = Model.Producto.Descuento != 0 ? (Model.Producto.PrecioVenta - Model.Producto.Descuento) : Model.Producto.PrecioVenta;
    //Wholesale price.
    decimal _wholesalePrice = Model.Producto.Descuento != 0 ? (Model.Producto.PrecioMayoreo - Model.Producto.Descuento) : Model.Producto.PrecioMayoreo;

}

<!-- Single-product-Detail -->
<section id="shop">
    <div class="container">
        <div class="row">
            <!-- product content area -->
            <div class="col-sm-6 col-md-6 content-area">
                <div class="product-content-area">
                    <div id="product-slider" class="carousel slide" data-ride="carousel" style="box-shadow: 0px 0px 3px rgba(0,0,0,0.2);">
                        <!-- wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            @foreach (var _imgProduct in Model.Producto.Imagenes)
                            {
                                if (iActiveItem == 0)
                                {
                                    <div class="item active">
                                        <img src="~/Assets/images/product_b/@_imgProduct.Image_b" alt="@_imgProduct.Image_b">
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img src="~/Assets/images/product_b/@_imgProduct.Image_b" alt="@_imgProduct.Image_b">
                                    </div>
                                }
                                iActiveItem++;
                            }
                        </div>
                        <!-- / wrapper for slides -->

                        @if (Model.Producto.Imagenes.Count() > 1)
                        {
                            <!-- Show the controls only if there are more than one image for the product.-->
                            <!-- controls -->
                            <a class="left carousel-control" href="#product-slider" role="button" data-slide="prev">
                                <span class="lnr lnr-chevron-left" aria-hidden="true"></span>
                            </a>
                            <a class="right carousel-control" href="#product-slider" role="button" data-slide="next">
                                <span class="lnr lnr-chevron-right" aria-hidden="true"></span>
                            </a>
                            <!-- / controls -->
                        }
                    </div><!-- / product-slider -->

                   

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#description" role="tab" data-toggle="tab" aria-expanded="true">Descripción</a></li>
                    </ul>
                    <!-- / nav-tabs -->
                    <div class="tab-content">

                        <!-- / description-tab -->
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="description">
                            <p>@Model.Producto.ExtDescripcion</p>
                        </div>
                        <!-- / description-tab -->
                    </div>
                    <!-- / tab-content -->
                </div><!-- / product-content-area -->
                <!-- product pagination -->
            </div>
            <!-- / project-content-area -->

            <!-- project sidebar area -->
            <div class="col-sm-6 col-md-6 product-sidebar">
                <div class="product-details">
                    <h3>@Model.Producto.Marca - @Model.Producto.NombreProducto</h3>
                    <p>@Model.Producto.Descripcion</p>
                    <hr />

                    <div class="product-info">

                        @if (Model.Producto.Descuento != 0)
                        {
                            <div class="info">
                                <p><i class="lnr lnr-tag"></i><span>Descuento: $  @Model.Producto.Descuento</span></p>
                            </div>
                        }
                        <div class="info">
                            <p>
                                <i class="lnr lnr-tag"></i>
                                <span>
                                    Precio:
                                    @if (Model.Producto.Descuento != 0)
                                    {
                                        <span style="text-decoration:line-through;">@Model.Producto.PrecioVenta &nbsp;&nbsp;</span>
                                        @_salePrice
                                    }
                                    else
                                    {
                                        <span>@Model.Producto.PrecioVenta</span>
                                    }
                                </span>
                            </p>
                        </div>
                        <div class="info">
                            <p>
                                <i class="lnr lnr-tag"></i>
                                <span>
                                    Mayoreo:
                                    @if (Model.Producto.Descuento != 0)
                                    {
                                        <span style="text-decoration:line-through;">@Model.Producto.PrecioMayoreo &nbsp;&nbsp;</span>
                                        @_wholesalePrice
                                    }
                                    else
                                    {
                                        <span>@Model.Producto.PrecioMayoreo</span>
                                    }
                                </span>
                            </p>
                        </div>

                        <!-- Category -->
                        <div class="info">
                            <p><i class="lnr lnr-film-play"></i><span>Categoría: <a href="@Url.Action("getproductsbycategory", "products", new { id = Model.Producto.IdCategoria, category = Model.Producto.Categoria })"> @Model.Producto.Categoria</a></span></p>
                        </div>

                        <!-- SubCategory -->
                        <div class="info">
                            <p><i class="lnr lnr-film-play"></i><span>Tipo: <a href="#link"> @Model.Producto.SubCategoria</a></span></p>
                        </div>

                        <!-- Brand -->
                        <div class="info">
                            <p><i class="lnr lnr-page-break"></i><span>Marca: <a href="@Url.Action("brand","products", new { id = Model.Producto.IdMarca, brand = Model.Producto.Marca})"> @Model.Producto.Marca</a></span></p>
                        </div>

                        <div class="info">
                            <p><i class="lnr lnr-menu"></i><span>Código artículo: <a href="#code">@Model.Producto.CodigoProducto</a>  </span></p>
                        </div>
                    </div><!-- / project-info -->
                </div><!-- product-details -->

            </div><!-- / col-sm-4 col-md-3 -->
            <!-- / project sidebar area -->

        </div><!-- / row -->

       
    </div><!-- / container -->
</section>
<!-- / shop single-product -->