@model LARWebSite.ViewModels.ProductDetailViewModel
@using LARWebSite.Utilerias
<!-- Here we will show an image carousel for smartphones and other responsive devices -->


<!-- Img Gallery Section -->
<div>
    <div id="red-responsive-carousel-img" class="owl-carousel">
        @foreach (var imgResponsive in Model.Producto.Imagenes)
        {

            <div class="col-md-12">
                <div class="item-product-img-responsive">
                    <img src="~/Assets/images/product_b/@imgResponsive.Image_b" alt="Alternate Text" />
                </div>
            </div>
        }
    </div>
</div>
<hr />
<div class="container">
    <!-- Product Information -->
    <div class="row">
        <div class="col-md-12">
            <h3>@Model.Producto.Marca - @Model.Producto.NombreProducto</h3>
            <p>@Model.Producto.Descripcion</p>
            <hr />
        </div>
    </div>
    <!-- Price -->
    <div class="row">
        <div class="col-md-12">
            @if (Model.Producto.Descuento != 0)
            {

                <h4 class="red-price-discount">
                    $ @Model.Producto.PrecioVenta
                </h4>
                <h1>
                    @{
                        decimal _realPriceWithDiscount = decimal.Parse(Model.Producto.PrecioVenta.ToString()) - decimal.Parse(Model.Producto.Descuento.ToString());
                    }
                    $ @_realPriceWithDiscount
                </h1>
            }
            else
            {
                <h1>
                    $ @Model.Producto.PrecioVenta
                </h1>
            }
        </div>
    </div><hr />
    @if (Model.Producto.PrecioMayoreo != 0)
    {
        <!-- wholesale price -->
        <div class="row">
            <div class="col-md-12">
                Mayoreo:
                <h3>
                    $ @Model.Producto.PrecioMayoreo
                </h3>
            </div>
        </div>
    }
    <table class="table">
        <tr>
            <td>Código</td>
            <td>
                <span class="label label-primary-filled">
                    @Model.Producto.CodigoProducto
                </span>
            </td>
        </tr>
        <tr>
            <td>Categoría</td>
            <td>
                <span class="label label-primary-filled">
                    <a style="color:white;" href="@Url.Action("gallery", "home", new {page = 1, id = Model.Producto.IdCategoria, category = Model.Producto.Categoria.ToSeoUrl() })">@Model.Producto.Categoria</a>
                </span>
            </td>
        </tr>
        <tr>
            <td>Tipo</td>
            <td>
                <span class="label label-primary-filled">
                    <a style="color:white;" href="@Url.Action("filtersubcategory","search", new { page = 1, id = Model.Producto.IdSubCategoria, nameSubCategory = Model.Producto.SubCategoria.ToSeoUrl()  })">@Model.Producto.SubCategoria</a></>
                </span>
            </td>
        </tr>
        <tr>
            <td>Marca</td>
            <td>
                <span class="label label-primary-filled">
                    <a style="color:white;" href="@Url.Action("brand","search", new { page = 1, id = Model.Producto.IdMarca, name = Model.Producto.Marca.ToSeoUrl()})">@Model.Producto.Marca</a>
                </span>
            </td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-12">
            @if (Model.Producto.Etiquetas.Any())
            {
                foreach (var label in Model.Producto.Etiquetas)
                {
                    <span class="label label-default-filled"><a style="color:white;" href="@Url.Action("labels","search", new { page = 1, id = label.idLabel, name = label.labels.labelName})">@label.labels.labelName</a></span>
                }
            }
        </div>
    </div>
</div>


