@model LARWebSite.ViewModels.ProductDetailViewModel
@using LARWebSite.Utilerias

@{
    int iActiveItem = 0;

    //Sale price
    decimal _salePrice = Model.Producto.Descuento != 0 ? (Model.Producto.PrecioVenta - Model.Producto.Descuento) : Model.Producto.PrecioVenta;
    //Wholesale price.
    decimal _wholesalePrice = Model.Producto.Descuento != 0 ? (Model.Producto.PrecioMayoreo - Model.Producto.Descuento) : Model.Producto.PrecioMayoreo;


    int _checkFirstImage = 0;

    string _defaultImg = "";

    foreach (var _thumbnail in Model.Producto.Imagenes)
    {
        if (_checkFirstImage == 0)
        {
            _defaultImg = _thumbnail.Image_b;
        }
        _checkFirstImage++;
    }
}

<section id="shop">
    <div class="container">
        <div class="row">
            <div class="col-xs-1 nopadding" style="border:1px solid rgba(0,0,0,0.089);">
                @foreach (var _thumbnail in Model.Producto.Imagenes)
                {
                    if (iActiveItem == 0)
                    {
                        <div class="thumbnail-item-red thumb-active" id="thumb-@iActiveItem" data-red-img="@_thumbnail.Image_b">
                            <img src="~/Assets/images/product_b/@_thumbnail.Image_b" alt="@_thumbnail.Image_b">
                        </div>
                    }
                    else
                    {
                        <div class="thumbnail-item-red"  id="thumb-@iActiveItem" data-red-img="@_thumbnail.Image_b">
                            <img src="~/Assets/images/product_b/@_thumbnail.Image_b" alt="@_thumbnail.Image_b">
                        </div>
                    }

                    iActiveItem++;
                }
            </div>
            <!-- product content area -->
            <div class="col-xs-5  content-area" style="margin-top:4px;border:1px solid rgba(0,0,0,0.089);margin-top:-0.2px;">
                <div class="product-content-area">
                    <div id="product-slider" class="carousel slide" data-ride="carousel">
                        <div class="slider slider-for">
                            <div>
                                <img class="zoom_visualizer" id="red-big-img-visualizer" src="~/Assets/images/product_b/@_defaultImg" />
                            </div>
                        </div>
                    </div><!-- / product-slider -->
                </div><!-- / product-content-area -->
                <!-- product pagination -->
            </div>
            <!-- / project-content-area -->
            <!-- project sidebar area -->
            <div class="col-xs-6 product-sidebar" style="border:1px solid rgba(0,0,0,0.089);">
                <div class="product-details" style="background:white;">
                    <h3>@Model.Producto.Marca - @Model.Producto.NombreProducto</h3>
                    <p>@Model.Producto.Descripcion</p>
                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.Producto.Descuento != 0)
                            {
                                <h4 style="text-decoration:line-through;">
                                    $  @Model.Producto.PrecioVenta
                                </h4>
                                <h1>
                                    @{
                                        decimal _realPriceWithDiscount = decimal.Parse(Model.Producto.PrecioVenta.ToString()) - decimal.Parse(Model.Producto.Descuento.ToString());
                                    }
                                    $  @_realPriceWithDiscount
                                </h1>
                            }
                            else
                            {
                                <h1>
                                    $ @Model.Producto.PrecioVenta
                                </h1>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">

                                <!-- Código -->
                                <tr>
                                    <td>Código</td>
                                    <td>
                                        <span class="label label-primary-filled">
                                            @Model.Producto.CodigoProducto
                                        </span>
                                    </td>
                                </tr>

                                @if (Model.Producto.PrecioMayoreo != 0)
                                {
                                    <!-- Precio mayoreo -->
                                    <tr>
                                        <td>Mayoreo</td>
                                        <td>
                                            <span class="label label-primary-filled">
                                               $ @Model.Producto.PrecioMayoreo
                                            </span>
                                        </td>
                                    </tr>
                                }

                                <!-- Categoría -->
                                <tr>
                                    <td>Categoría</td>
                                    <td>
                                        <span class="label label-primary-filled">
                                            <a style="color:white;" href="@Url.Action("gallery", "home", new {page = 1, id = Model.Producto.IdCategoria, category = Model.Producto.Categoria.ToSeoUrl() })">@Model.Producto.Categoria</a>
                                        </span>
                                    </td>
                                </tr>

                                <!-- Tipo => SubCategoría -->
                                <tr>
                                    <td>Tipo</td>
                                    <td>
                                        <span class="label label-primary-filled">
                                            <a style="color:white;" href="@Url.Action("filtersubcategory","search", new { page = 1, id = Model.Producto.IdSubCategoria, nameSubCategory = Model.Producto.SubCategoria.ToSeoUrl()  })">@Model.Producto.SubCategoria</a></>
                                        </span>
                                    </td>
                                </tr>

                                <!-- Marca -->
                                <tr>
                                    <td>Marca</td>
                                    <td>
                                        <span class="label label-primary-filled">
                                            <a style="color:white;" href="@Url.Action("brand","search", new { page = 1, id = Model.Producto.IdMarca, name = Model.Producto.Marca.ToSeoUrl()})">@Model.Producto.Marca</a>
                                        </span>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    @if (Model.Producto.Etiquetas.Any())
                    {
                        <br />
                        <!-- Labels -->
                        <div class="row">
                            <div class="col-md-12">
                                @foreach (var label in Model.Producto.Etiquetas)
                                {
                                    <span class="label label-default-filled"><a style="color:white;" href="@Url.Action("labels","search", new { page = 1, id = label.idLabel, name = label.labels.labelName})">@label.labels.labelName</a></span>
                                }
                            </div>
                        </div>
                    }
                    <!-- Product Details -->
                </div><!-- product-details -->
            </div><!-- / col-sm-4 col-md-3 -->
            <div class="container">
                <div class="col-md-12">
                    <br /><br />
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#description" role="tab" data-toggle="tab" aria-expanded="true">Descripción</a></li>
                    </ul>
                    <!-- / nav-tabs -->
                    <div class="tab-content">
                        <!-- / description-tab -->
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="description">
                            @if (string.IsNullOrEmpty(@Model.Producto.ExtDescripcion))
                            {
                                <i>No existe una descripción para este producto</i>
                            }
                            else
                            {
                                <p>@Model.Producto.ExtDescripcion</p>
                            }
                        </div>
                        <!-- / description-tab -->
                    </div>
                    <!-- / tab-content -->
                </div>
            </div>
            <!-- / project sidebar area -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / shop single-product -->
