@using PagedList
@using PagedList.Mvc
@model IPagedList<LARWebSite.Models.ItemProductModel>
@using LARWebSite.Utilerias

<!-- Partial view component -->
<div id="grid" class="row shuffle red-brand-filter-product" style="position: relative; overflow: hidden; height: 1623.1px; transition: height 250ms ease-out;">
    @foreach (var _product in Model)
    {
        <!-- product -->
        <div class="col-xs-6 col-md-4 product shuffle-item filtered" style="position: absolute; top: 0px; left: 0px; visibility: visible; transition: transform 250ms ease-out, opacity 250ms ease-out;">
            <div class="card mt-6" style="border-radius:2px;cursor:pointer;border:1px solid rgba(0,0,0,0.1);">
                <a href="@Url.Action("detail", "products", new { id = _product.IdProducto, code = _product.Codigo, name = _product.NombreProducto.ToSeoUrl() })">
                    <img class="card-img-top img-fluid" src="http://static.laredcazaypesca.com.mx/images/p_b/@_product.ImagenDetalle" alt="">
                </a>    
                <hr />
                <div class="card-body" style="padding:10px;">
                    <a href="@Url.Action("detail", "products", new { id = _product.IdProducto, code = _product.Codigo, name = _product.NombreProducto.ToSeoUrl() })">
                        <h5 class="card-title ellipsis" title="@_product.NombreProducto">
                            @_product.NombreProducto
                        </h5>
                    </a>
                    <h4>
                        @if (_product.Descuento != 0)
                        {
                            <span>$</span><del> @_product.Precio</del>
                            <span class="sale-price">$ @_product.PrecioDescuento</span>
                        }
                        else
                        {
                            <span class="sale-price">$ @_product.Precio</span>
                        }
                    </h4>
                </div>
            </div><br />
        </div><!-- / product -->
    }
    <!-- grid-resizer -->
    <div class="col-xs-6 col-md-4 shuffle_sizer shuffle-item filtered" style="position: absolute; top: 0px; left: 0px; visibility: visible; opacity: 1; transform: translate3d(266px, 1302px, 0px) scale3d(1, 1, 1); transition: transform 250ms ease-out, opacity 250ms ease-out;"></div>
    <!-- / grid-resizer -->
</div><!-- / row -->
<hr />