@model LARWebSite.Models.ContactModel

<!-- Partial View for Information Section  -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 contact-details">
                <h4>Teléfono</h4>
                <p><a href="#">+52 449 918 6217</a></p>

                <h4 class="space-top">Dirección</h4>
                <p><a href="mailto:press@yoursite.com">Victoria 705, Centro, 20000 Aguascalientes</a></p>
                <h4 class="space-top">Correo</h4>
                <p><a href="mailto:orders@yoursite.com">lared@gmail.com</a></p>
            </div>

            <div class="col-sm-6 form-container">
                <!-- contact form -->
                <div id="contact-form-1">

                <!-- Begins the contact form section -->
                @using (Html.BeginForm("contact", "home", FormMethod.Post, new { data_validator = "validator", @id = "contactForm" })) 
                {
                    @Html.AntiForgeryToken()

                    <!-- nombre completo  -->
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.NombreContacto, new { @class = "form-control", @style = "min-width:100%;", @type = "text", @id = "name", @placeholder = "Nombre completo", @autocomplete = "off" })
                        <div class="help-block with-errors">
                            @Html.ValidationMessageFor(m => m.NombreContacto)
                        </div>
                    </div>   

                    <!-- email -->
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.EmailContacto, new { @class = "form-control", @style = "min-width:100%;", @type = "email", @id = "email", @placeholder = "Correo electrónico", @autocomplete = "off" })
                    </div>
                    <div class="help-block with-errors">
                        @Html.ValidationMessageFor(m => m.EmailContacto)
                    </div>

                    <!-- comentario -->
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.ComentarioContacto, new { @class = "form-control", @style = "min-width:100%;", @id = "message", @rows = "5", @placeholder = "Comentarios", @autocomplete = "off" })
                        <div class="help-block with-errors">
                            @Html.ValidationMessageFor(m => m.ComentarioContacto)
                        </div>
                    </div>
                    
                    <!-- Submitions components -->
                    <button type="submit" id="form-submit" class="btn btn-md btn-primary-filled btn-form-submit btn-rounded">Enviar mensaje</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                }
                <!-- Ends the contact form section -->

                </div><!-- / contact form -->
            </div><!-- / form-container -->

        </div><!-- / row -->
    </div><!-- / container -->
</section>

