@model IEnumerable<LARWebSite.Models.ItemProductModel>
<!-- PartialView for showing the list of products filtered by category id -->

@if (!Model.Any())
{
    <div class="alert alert-success">
        No se encontraron artículos para @ViewBag.CategoryName;
    </div>
    <!-- grid-resizer -->
    <div class="col-xs-6 col-md-3 shuffle_sizer"></div>
    <!-- / grid-resizer -->
}
else
{
    foreach (var _product in Model)
    {
        <!-- product -->
        <div class="col-xs-6 col-md-3 product" data-groups="@ViewBag.CategoryId" style="visibility:visible;">
            <a href="#" class="product-link"></a>
            <!-- / product-link -->
            <img src="~/Assets/images/product_link/@_product.ImagenDetalle" alt="">
            <!-- / product-image -->
            <!-- product-hover-tools -->
            <div class="product-hover-tools">
                <a href="#" class="view-btn">
                    <i class="lnr lnr-eye"></i>
                </a>
                <a href="shopping-cart.html" class="add-to-cart">
                    <i class="lnr lnr-cart"></i>
                </a>
            </div><!-- / product-hover-tools -->
            <!-- product-details -->
            <div class="product-details">
                @if (_product.Descuento != 0)
                {
                    <span>$</span><del> @_product.Precio</del>
                    <span class="sale-price">$ @_product.PrecioDescuento</span>
                }
                else
                {
                    <span class="sale-price">$ @_product.Precio</span>
                }
            </div><!-- / product-details -->
        </div><!-- / product -->
    }

    <!-- grid-resizer -->
    <div class="col-xs-6 col-md-3 shuffle_sizer"></div>
    <!-- / grid-resizer -->
}

