<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <meta name="description" content="Responsive Shop Theme">
    <meta name="keywords" content="tienda, pesca, red, aguascalientes, caza" />
    <meta name="author" content="Assis">

    <!-- favicon -->
    <link rel="icon" href="~/favicon.png">

    <!-- page title -->
    <title>@ViewBag.Title | Tienda de Pesca y Caza</title>

    <!-- bootstrap css -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet">
    <link href='~/fonts/FontAwesome.otf' rel='stylesheet' type='text/css'>
    <!-- Import linear-icons directly because of the lost of fonts.._. -->
    <link href='~/Assets/css/linear-icons.css' rel='stylesheet' type='text/css'>
    <style>
        /*Remove margin and padding from top body*/
        body {
            padding-top: 0px;
            margin-top: 0px;
        }
    </style>
</head>
<body>
    <!-- preloader -->
    <div id="preloader">
        <div class="spinner spinner-round"></div>
    </div>
    <!-- / preloader -->
    <!-- header -->
    <header>

        <!-- This menu will be hidden till we start developing the ecommerce environment -->
        <!--div class="top-menu top-menu">
        <div class="container">
            <p>
                <span class="left"> <a href="#phone-number"><i class="lnr lnr-phone-handset"></i> <span> Llamanos! 01 449 918 6217</span></a></span> </span>

            </p>
        </div>
    </div-->

        <div id="overlapblackbg"></div>
        <div class="wsmobileheader clearfix"> <a id="wsnavtoggle" class="animated-arrow"><span></span></a> <a class="smallogo"><img style="width:233px;height:68px;" src="~/Assets/images/red-logo.png" width="120" alt="" /></a> <a class="callusicon" href="tel:123456789"><span class="fa fa-phone"></span></a> </div>

        <!--Main Menu HTML Code-->
        <nav class="wsmenu clearfix">
            <div class="logo clearfix"><a href="index.html" title="La Red Caza y Pesca"><img src="~/Assets/images/red-logo.png" alt="" /></a></div>
            <ul class="mobile-sub wsmenu-list">
                <li>
                    <a href="#"><i class="fa fa-align-justify"></i>&nbsp;&nbsp;Dropdowns <span class="arrow"></span></a>
                    <ul class="wsmenu-submenu">
                        <li><a href="#"><i class="fa fa-angle-right"></i>Website Design </a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Ecommerce Solutions</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Application Development</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Website Development</a></li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Open Source Development</a>
                            <ul class="wsmenu-submenu-sub">
                                <li><a href="#"><i class="fa fa-angle-right"></i>Submenu item 1</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Submenu item 2</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Submenu item 3</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-angle-right"></i>Submenu item 4</a>
                                    <ul class="wsmenu-submenu-sub-sub">
                                        <li class=""><a href="#"><i class="fa fa-angle-right"></i>Submenu item 1 Sub</a></li>
                                        <li class=""><a href="#"><i class="fa fa-angle-right"></i>Submenu item 2 Sub</a></li>
                                        <li class=""><a href="#"><i class="fa fa-angle-right"></i>Submenu item 3 Sub</a></li>
                                        <li class=""><a href="#"><i class="fa fa-angle-right"></i>Submenu item 4 Sub</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Half&nbsp;menu <span class="arrow"></span></a>
                    <div class="megamenu clearfix halfmenu">
                        <ul class="megacollink">
                            <li class="title">Product Header</li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                        </ul>
                        <ul class="megacollink">
                            <li class="title">Product Header</li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Mega&nbsp;menu <span class="arrow"></span></a>
                    <div class="megamenu clearfix">
                        <ul class="megacollink">
                            <li class="title">Product Header</li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                        </ul>
                        <ul class="megacollink">
                            <li class="title">Product Header</li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                        </ul>
                        <ul class="megacollink">
                            <li class="title">Product Header</li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                        </ul>
                        <div class="megacollink">
                            <h3 class="title">New Arrival </h3>
                            <div><a href="http://www.webthemex.com/webslidemenu/"><img src="images/add.png" alt="" /></a></div>
                        </div>
                    </div>
                </li>
                <li class="emptdiv"><a href="#"></a></li>
                <li>
                    <a href="#"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Mega&nbsp;menu <span class="arrow"></span></a>
                    <div class="megamenu clearfix">
                        <ul class="megacollink">
                            <li class="title">Product Header</li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                        </ul>
                        <ul class="megacollink">
                            <li class="title">Product Header</li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                        </ul>
                        <ul class="megacollink">
                            <li class="title">Product Header</li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                            <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Submenu link style</a></li>
                        </ul>
                        <div class="megacollink">
                            <h3 class="title">New Arrival </h3>
                            <div><a href="http://www.webthemex.com/webslidemenu/"><img src="images/add.png" alt="" /></a></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-paragraph"></i>&nbsp;&nbsp;Typography <span class="arrow"></span></a>
                    <div class="megamenu clearfix">
                        <div class="typography-text clearfix">
                            <div class="typographydiv">
                                <h3 class="title">This is Title</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s Ipsum more recently with desktop publishing software like Aldus PageMaker
                                    including versions of Lorem Ipsum.
                                </p>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining.
                                </p>
                            </div>
                            <div class="cl"></div>
                            <div class="typographylinks">
                                <h3 class="title">Other Services</h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-wordpress"></i>Wordpress Development</a></li>
                                    <li><a href="#"><i class="fa fa-drupal"></i>Drupal Development</a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i>Shoping Cart Development</a></li>
                                    <li><a href="#"><i class="fa fa-html5"></i>HTML5 Development</a></li>
                                    <li><a href="#"><i class="fa fa-joomla"></i>Joomla Development</a></li>
                                </ul>
                            </div>
                            <div class="typographylinks">
                                <h3 class="title">More Services</h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-android"></i> Android App Development</a></li>
                                    <li><a href="#"><i class="fa fa-apple"></i>iPhone App Development</a></li>
                                    <li><a href="#"><i class="fa fa-windows"></i>Windows App Development</a></li>
                                    <li><a href="#"><i class="fa fa-mobile"></i>HTML5 App Development</a></li>
                                    <li><a href="#"><i class="fa fa-paypal"></i>Paypal Store Integration</a></li>
                                </ul>
                            </div>
                            <div class="typographylinks">
                                <h3 class="title">Other Products</h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-wordpress"></i>Wordpress Development</a></li>
                                    <li><a href="#"><i class="fa fa-drupal"></i>Drupal Development</a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i>Shoping Cart Development</a></li>
                                    <li><a href="#"><i class="fa fa-html5"></i>HTML5 Development</a></li>
                                    <li><a href="#"><i class="fa fa-joomla"></i>Joomla Development</a></li>
                                </ul>
                            </div>
                            <div class="typographylinks">
                                <h3 class="title">More Services</h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-android"></i> Android App Development</a></li>
                                    <li><a href="#"><i class="fa fa-apple"></i>iPhone App Development</a></li>
                                    <li><a href="#"><i class="fa fa-windows"></i>Windows App Development</a></li>
                                    <li><a href="#"><i class="fa fa-mobile"></i>HTML5 App Development</a></li>
                                    <li><a href="#"><i class="fa fa-paypal"></i>Paypal Store Integration</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;Contact<span class="arrow"></span></a>
                    <div class="megamenu halfdiv">
                        <h3 class="title">Contact Us</h3>
                        <form name="contact_name" class="menu_form">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <textarea placeholder="Your message..."></textarea>
                            <input type="button" value="Reset">
                            <input type="submit" value="Send">
                        </form>
                        <div class="cl"></div>
                    </div>
                </li>
            </ul>
        </nav>
        <!--Menu HTML Code-->

    </header>

    
    <!-- / header -->
    <!-- content -->
    <!-- categories -->
   
    <!-- rendered body section -->
    @RenderBody()
    <!-- ends the rendered body section  -->
    <!-- footer -->
    <footer class="dark-footer">
        <div class="widget-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 widget">
                        <div class="about-widget">
                            <div class="widget-title-image">
                                <img id="lar-img-footer" src="~/Assets/images/red-logo.png" alt="">
                            </div>
                            <p>!Aventúrate a la acción con <b>La Red Caza y Pesca.</b></p>
                        </div><!-- / about-widget -->
                    </div><!-- / widget -->
                    <!-- / first widget -->
                    <div class="col-sm-6 col-md-2 widget">
                        <!-- Load dinamyc brands -->
                        @Html.Action("brands", "home")
                    </div><!-- / widget -->
                    <div class="col-sm-6 col-md-2 widget">
                        <!-- Load dinamyc brands -->
                        @Html.Action("categories", "home")
                    </div><!-- / widget -->
                    <!-- / second widget -->
                    <!-- / third widget -->
                    <div class="col-sm-6 col-md-4 widget">
                        <div class="widget-title">
                            <h4>Contáctanos</h4>
                        </div>
                        <div-- class="contact-widget">
                            <div class="info">
                                <p><i class="lnr lnr-map-marker"></i><span>Victoria 705, Centro, 20000 Aguascalientes, Ags.</span></p>
                            </div>
                            <div class="info">
                                <a href="tel:+0123456789"><i class="lnr lnr-phone-handset"></i><span> 01 449 918 6217</span></a>
                            </div>
                            <div class="info">
                                <a href="mailto:hello@yoursite.com"><i class="lnr lnr-envelope"></i><span>office@yoursite.com</span></a>
                            </div>
                            <!--div class="info">
                <p class="social pull-left">
                    <a class="no-margin" href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                </p>
            </div-->
                    </div><!-- / contact-widget -->
                </div><!-- / widget -->
                    <!-- / fourth widget -->
                </div><!-- / row -->
            </div><!-- / container -->
        <div class="footer-info">
            <div class="container">
                <div class="pull-left">
                    <p>&copy; @DateTime.Now.Year - <strong>La Red Caza y Pesca</strong></p>
                </div>
                <br />
            </div><!-- / container -->
        </div><!-- / footer-info -->
    </footer>
    <!-- / footer -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- javascript -->
    <!-- featured-products carousel -->
    <script>
        $(document).ready(function () {
            $("#products-carousel").owlCarousel({
                autoPlay: 3000, //set autoPlay to 3 seconds.
                items: 4,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3],
            });
        });
    </script>
    <!-- / featured-products carousel -->
    <!-- brands carousel -->
    <script>
        $(document).ready(function () {
            $("#brands-carousel").owlCarousel({
                autoPlay: 5000, //set autoPlay to 5 seconds.
                items: 5,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3]
            });

        });
    </script>

</body>

</html>