<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <meta name="description" content="Responsive Shop Theme">
    <meta name="keywords" content="tienda, pesca, red, aguascalientes, caza" />
    <meta name="author" content="Arpateck">

    <!-- favicon -->
    <link rel="icon" href="~/favicon.png">

    <!-- page title -->
    <title>@ViewBag.Title | Tienda de Caza y Pesca</title>

    <!-- bootstrap css -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href='~/fonts/FontAwesome.otf' rel='stylesheet' type='text/css'>
    <!-- Import linear-icons directly because of the lost of fonts.._. -->
    <link href='~/Assets/css/linear-icons.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- preloader -->
    <div id="preloader">
        <div class="spinner spinner-round"></div>
    </div>
    <!-- / preloader -->
    <!-- header -->
    <header>

        <!----------------------------->
        <!-- Starts the menu setion  -->
        <div class="wsmenucontainer clearfix">
            <div id="overlapblackbg"></div>
            <div class="wsmobileheader clearfix"> <a id="wsnavtoggle" class="animated-arrow"><span></span></a> <a href="/" class="smallogo"><img src="~/Assets/images/small-logo-red.png" style="width:100px;" alt="" /></a> <a class="callusicon" href="tel:123456789"><span class="fa fa-phone"></span></a> </div>
            <div class="headtoppart clearfix">
                <div class="headerwp">
                    <div class="headertopleft">
                        <div class="address clearfix"><span><i class="fa fa-map-marker" aria-hidden="true"></i> Victoria 705, Centro, 20000 Aguascalientes, México. </span> <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> 449 918 6217</a></div>
                    </div>
                </div>
            </div>
            <div class="headerfull">


                <!--Main Menu HTML Code-->
                <div class="wsmain">
                    <div class="smllogo"><a href="/"><img style="width:120px;margin-top:-17px;" src="~/Assets/images/red-logo.png" alt="" /></a></div>
                    <nav class="wsmenu clearfix">
                        <ul class="mobile-sub wsmenu-list">
                            <li class="rightmenu">
                                <form class="topmenusearch">
                                    <input placeholder="Busca artículos..." autocomplete="off">
                                    <button class="btnstyle"><i class="searchicon fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </li>
                            <li>
                                <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" href="@Url.Action("index", "home")">Inicio</a>
                            </li>

                            <!-- Who we are section -->
                            <li>
                                <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "about" ? "active" : "")" href="@Url.Action("about", "home")">Quiénes somos</a>
                            </li>

                            <!-- Load Dynamic Menu - Gallery  -->
                            @Html.Action("menu", "home")

                            <!-- Contact Section -->
                            <li>
                                <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "contacto" ? "active" : "")" href="@Url.Action("contacto", "home")">Contacto</a>
                            </li>

                            <!-- Offers Section -->
                            <li>
                                <a href="@Url.Action("gallery", "home")">Galería</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="wrapper">
                    <div class="moreoption clearfix">
                         <div class="colorlink01 clearfix">
                             
                         </div>
                    </div>
                </div>
                <!--Menu HTML Code-->
            </div>
            
        </div>
        <!-- Ends the menu section -->
        <!----------------------------->

    </header>
   

    <!-- / header -->
    <!-- content -->
    <!-- categories -->
    <!-- rendered body section -->
    
    @RenderBody()
       
    <!-- ends the rendered body section  -->
    <!-- footer -->
    <footer class="dark-footer">
        <div class="widget-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 widget">
                        <div class="about-widget">
                            <div class="widget-title-image">
                                <img id="lar-img-footer" src="~/Assets/images/red-logo.png" alt="">
                            </div>
                            <p>!Aventúrate a la acción con <b>La Red Caza y Pesca.</b></p>
                        </div><!-- / about-widget -->
                    </div><!-- / widget -->
                    <!-- / first widget -->
                    <div class="col-sm-6 col-md-2 widget">
                        <!-- Load dinamyc brands -->
                        @Html.Action("brands", "home")
                    </div><!-- / widget -->
                    <div class="col-sm-6 col-md-2 widget">
                        <!-- Load dinamyc brands -->
                        @Html.Action("categories", "home")
                    </div><!-- / widget -->
                    <!-- / second widget -->
                    <!-- / third widget -->
                    <div class="col-sm-6 col-md-4 widget">
                        <div class="widget-title">
                            <h4>Contáctanos</h4>
                        </div>
                        <div-- class="contact-widget">
                            <div class="info">
                                <p><span>449 918 6217</span></p><br />
                            </div>
                            <div class="info">
                                <p><span>office@yoursite.com</span></p>
                            </div>
                            <!--div class="info">
                                <p class="social pull-left">
                                    <a class="no-margin" href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                </p>
                            </div-->
                    </div><!-- / contact-widget -->
                </div><!-- / widget -->
                <!-- / fourth widget -->
            </div><!-- / row -->
        </div><!-- / container -->
        <div class="footer-info">
            <div class="container">
                <div class="pull-left">
                    <p>&copy; @DateTime.Now.Year - <strong>La Red Caza y Pesca</strong></p>
                </div>
                <br />
            </div><!-- / container -->
        </div><!-- / footer-info -->
    </footer>
    <!-- / footer -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- javascript -->
    <!-- featured-products carousel -->
    <!--script>
        $(document).ready(function () {
            $("#products-carousel").owlCarousel({
                autoPlay: 2000, //set autoPlay to 3 seconds.
                items: 4,
                itemsDesktop: [500, 1],
                itemsDesktopSmall: [979, 3],
            });
        });
    </script-->
    <!-- / featured-products carousel -->
    <!-- brands carousel -->
    <script>
        $(document).ready(function () {
            $("#brands-carousel").owlCarousel({
                autoPlay: 5000, //set autoPlay to 5 seconds.
                items: 5,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3]
            });

        });
    </script>

</body>

</html>