@model IEnumerable<LARWebSite.Models.products>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.extendDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.keyProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wholesalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_alta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.limitWholeSalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image_link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brands.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categories.categoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subcategories.subCategoryName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.extendDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.keyProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wholesalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_alta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.limitWholeSalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image_link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brands.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categories.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subcategories.subCategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idProduct }) |
                @Html.ActionLink("Details", "Details", new { id=item.idProduct }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.idProduct })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
